.register-page {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #EBEBEB;
}

.register-card {
    background-color: #ffff;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.register-close-buttom {
    position: absolute;
    right: 0;
    top: -5px;
}

.register-card-container {
    text-align: center;
    padding: 0 30px;
    transform: translateY(-47px);
    height: 50px;
}

.register-card h1 {
    color: rgba(158, 99, 255, 1);
    font-size: 35px;
    font-weight: 800;
}

.register-card p {
    color: rgba(158, 99, 255, 1);
    font-weight: 500;
    font-size: 12px;
    transform: translateY(-5px);
}

.register-row-name {
    float: left;
    width: 100%;
    padding: 4px 3px;
}

.register-row-email {
    float: left;
    width: 100%;
    padding: 4px 3px;
}

.register-row-birth {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-cpf {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-rg {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-contact {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-gender {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-state {
    float: left;
    width: 33.3%;
    padding: 4px 3px;
}

.register-row-city {
    float: left;
    width: 50%;
    padding: 4px 3px;
}

.register-row-neighborhood {
    padding: 4px 3px;
    float: left;
    width: 50%;
}

.register-row-road {
    padding: 4px 3px;
    float: left;
    width: 80%;
}

.register-row-number {
    padding: 4px 3px;
    float: left;
    width: 20%;
}

.register-row-password {
    padding: 4px 3px;
    float: left;
    width: 50%;
}

.register-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

@media(min-width: 576px) {

    .register-buttom {
        padding: 0 70px;
    }

    .register-card-container {
        padding: 0 130px;
    }
}

@media(min-width: 992px) {
    .register-page {
        padding: 0 80px;
    }

    .register-close-buttom {
        position: absolute;
        right: -15px;
        top: -10px;
    }

    .register-card-container {
        transform: translateX(0);
        height: 90px;
    }

    .register-row-name {
        float: left;
        width: 50%;
        padding: 5px 5px;
    }

    .register-row-email {
        float: left;
        width: 50%;
        padding: 5px 5px;
    }

    .register-row-birth {
        width: 20%;
        padding: 5px 5px;
    }

    .register-row-cpf {
        padding: 5px 5px;
        width: 20%;
    }

    .register-row-rg {
        padding: 5px 5px;
        width: 20%;
    }

    .register-row-contact {
        padding: 5px 5px;
        width: 20%;
    }

    .register-row-gender {
        padding: 5px 5px;
        width: 20%;
    }

    .register-row-state {
        padding: 5px 5px;
        width: 10%;
    }

    .register-row-city {
        padding: 5px 5px;
        width: 26.6%;
    }

    .register-row-neighborhood {
        padding: 5px 5px;
        width: 26.6%;
    }

    .register-row-road {
        padding: 5px 5px;
        width: 26.6%;
    }

    .register-row-number {
        padding: 5px 5px;
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .register-page {
        padding: 0 200px;
    }

    .register-card-container {
        transform: translateX(0);
        height: 90px;
    }

}