

.services-card {
    background-color: #ebebeb5f;
    width: 180px;
    height: 160px;
    border: rgba(76, 169, 255, 0.3) 0.5px solid;
    border-radius: 30px;
}

.card-text {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'sans serif';
    padding: 30px;
    gap: 15px;
    line-height: 1;
}

.card-text h1 {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgba(123, 47, 198, 1);
}

.card-text span {
    font-size: 10px;
    text-align: justify;
    color: rgba(158, 99, 255, 1);
}

.card-button {
    display: flex;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(123, 47, 198, 1);
    color: rgba(235, 235, 235, 1);
    width: 112px;
    height: 22px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 18%;
}

@media (min-width: 425px) {
    .services-card {
        width: 200px;
        height: 170px;
    }

    .card-text {
        gap: 20px;
    }

    .card-button {
        left: 22%;
        height: 25px;
        top: 5px;
    }
  }
  