.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    background-color:rgba(235, 235, 235, 1);
}

.login-card {
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: #ffff;
    position: relative;
    z-index: 2;
}

.login-card-img {
    background: url(../../assets/img/static/loginImg.png) no-repeat center center/cover;
    height: 150px;
    border-radius: 35px;
    transform: translateY(-100px);
}

.login-card-img-desktop {
    background: url(../../assets/img/static/loginImgDesktop.png) no-repeat center center/cover;
    display: none;
}

.login-card-img-container {
    height: 55px;
    width: 100%;
    position: relative;
}

.login-card h1 {
    color: rgba(158, 99, 255, 1);
    font-weight: 800;
}

.login-card p {
    color: rgba(158, 99, 255, 0.5);
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-card span {
    color: rgba(123, 47, 198, 1);
    font-weight: 600;
    cursor: pointer;
}

@media(min-width: 576px) {
    .login-card {
        padding: 0 50px;
    }

    .login-card p {
        font-size: 13px;
    }

}

@media (min-width: 992px) {

    .login-page {
        justify-content: center;
    }

    .login-card {
        width: 500px;
        transform: translate(240px, -50px);
    }

    .login-card h1{
        font-size: 40px;
    }

    .login-card p{
        font-size: 14px;
    }

    .login-card-img {
        display: none;
    }

    .login-card-img-desktop {
        display: flex;
        height: 500px;
        width: 500px;
        position: absolute;
        right: 420px;
        bottom: -510px;
        border-radius: 70px;
    }
}

@media(min-width: 1200px){
    .login-card{
        transform: translate(200px, -70px);
    }
}