@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.professional-page {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.menu-options {
  display: none;
}

.promed-logo {
  width: 80px;
  height: 20px;
}

.menu-login-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7px;
  font-family: 'Poppins', 'Sans-serif';
}

.menu-button {
  width: 25px;
  height: 15px;
}

.professional-img {
  position: absolute;
  width: 280px;
  right: 0;
  top: 10px;
  z-index: 1;
}

.rounded-rectangle {
  display: flex;
  width: 230px;
  margin-top: 85px;
  z-index: -1;
}

  .rounded-rectangle-2 {
    width: 300px;
    position: absolute;
    right: -0px;
    top: 300px;
    z-index: -1;
  }

  .rounded-rectangle-3 {
    display: none;
    position: absolute;
  }

  .rounded-rectangle-4 {
    display: none;
  }

  .adesivo {
    width: 80px;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: -2;
  }

  .adesivo-2 {
    width: 50px;
    position: absolute;
    top: 270px;
    left: 50px;
  }

  .adesivo-3 {
    width: 80px;
    position: absolute;
    top: 640px;
    right: 20px;
  }

  .adesivo-4 {
    width: 80px;
    position: absolute;
    top: 900px;
    left: 20px;
    z-index: -2;
  }

  .adesivo-5 {
    width: 80px;
    position: absolute;
    top: 1190px;
    right: 25px;
  }
  
  .title-page {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Sans-serif';
    position: absolute;
    top: 250px;
    left: 50px;
  }

  .simple-text {
    color: #004585;
    word-spacing: 10px;
    width: 200px;
    left: 0px;
    top: -10px;
    position: absolute;
  }

  .effect-text {
    font-weight: 900;
    font-size: 45px;
    color: #7B2FC6;
    left: 34px;
    display: flex;
    position: relative;
  }


  .border-effect {
    color: #00000000;
    -webkit-text-stroke: 2px #7B2FC6;
    left: 0;
    z-index: 2;
  }

  .no-effect {
    position: absolute;
    left: 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 50px;
    gap: 40px;
    margin-top: -600px;
    justify-items: center;
  }

  .filter-blur-1 {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #CBDCF4;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -2;
    top: -250px;
    right: -100px;
  }

  .professional-img-2 {
    display: none;
  }

  .filter-blur-2 {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #CBDCF4;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    top: 0;
    left: -50px;
  }
  
  .filter-blur-3 {
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: #CBDCF4;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    bottom: 300px;
    left: 50px;
  }
  

  .filter-blur-4 {
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: #FFF0D2;
    border-radius: 50%;
    filter: blur(40px);
    z-index: -3;
    bottom: 0px;
    left: 0px;
  }

  .footer {
    font-family: 'Poppins', 'Sans-serif';
    font-size: 8px;
    background-color: #9E63FF;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    position: relative;
    bottom: 0px;
  }

  @media(min-width: 576px){
    .professional-img {
      width: 400px;
      top: 0;
      display: none;
    }

    .professional-img-2 {
      display: flex;
      width: 500px;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: -1;
    }

    .card-container {
      grid-template-columns: repeat(3, 1fr);
      margin-top: -100px;
    }

    .filter-blur-1 {
      right: -350px;
      width: 400px;
      height: 330px;
    }

    .rounded-rectangle {
      display: none;
      width: 250px;
    }

    .rounded-rectangle-2 {
      top: 170px;
      width: 450px;
      z-index: -2;
    }

    .rounded-rectangle-3 {
      display: flex;
      width: 300px;
      position: absolute;
      right: 0px;
      top: 700px;
      z-index: -1;
    }

    .rounded-rectangle-4 {
      display: flex;
      position: absolute;
      width: 450px;
      z-index: -3;
    }

    .simple-text {
      word-spacing: 17px;
      font-size: 25px;
      left: 35px;
      width: 250px;
    }

    .no-effect{
      z-index: -2;
    }

    .effect-text {
      font-size: 70px;
      left: 80px;
    }

    .adesivo {
      width: 100px;
      top: 70px;
      left: 170px;
      z-index: -4;
    }

    .adesivo-2 {
      width: 70px;
      left: 90px;
      top: 290px;
      z-index: 2;
    }

    .adesivo-3{
      top: 500px;
    }


    .footer {
      font-size: 12px;
    }
  }

  @media(min-width: 992px) {
    .menu-options {
      display: flex;
      color: #9E63FF;
      gap: 13px;
      padding: 0 10px;
    }

    .promed-logo {
      width: 130px;
      height: auto;
    }

    .menu-button {
      display: none;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow: hidden;
      position: relative;
      justify-items: center;
      margin-top: 350px;
      margin-left: 50px;
      margin-right: 50px;
    }

    .professional-img-2 {
      width: 650px;
    }

    .simple-text {
      font-size: 23px;
      left: 125px;
      top: 105px;
      width: 300px;
      word-spacing: 19px;
    }

    .effect-text {
      top: 110px;
      left: 150px;
      font-size: 80px;
    }

    .rounded-rectangle-4 {
      display: block;
      width: 600px;

    }

    .rounded-rectangle {
      display: none;
    }

    .adesivo-4 {
      display: none;
    }

    .filter-blur-2 {
      display: none;
    }

    .filter-blur-3 {
      display: none;
    }

    .filter-blur-4 {
      display: none;
    }

    .adesivo {
      width: 150px;
      left: 220px;
    }

    .adesivo-2 {
      width: 90px;
      top: 400px;
      left: 150px;
    }

    .adesivo-5 {
      top: unset;
      bottom: 100px;
    }
  }

  @media(min-width: 1280px) {
    .promed-logo {
      width: 200px;
    }

    .professional-img-2 {
      width: 60%;
    }

    .rounded-rectangle-2 {
      width: 500px;
      top: 500px;
    }

    .rounded-rectangle-3 {
      width: 500px;
      top: 970px;
    }

    .rounded-rectangle-4 {
      width: 50%;
      top: 220px;
    }

    .effect-text {
      font-size:150px;
      left: 200px;
      top: 150px;
    }

    .simple-text {
      font-size: 40px;
      width: 100%;
      top: 140px;
      left: 165px;
      word-spacing: 40px;
    }

    .card-container {
      margin-top:50%;
      padding: 0 0px;
      bottom: 70px;
    }

    .adesivo {
      top: 200px;
      width: 250px;
      left: 330px;
    }

    .adesivo-2 {
      left: 170px;
      width: 150px;
      top: 500px;
    }
    
  }
