
.card {
    height: 155px;
    width: 125px;
    border-radius: 17px;
    border: 1px solid #b389de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EBEBEB66;
    gap: 6px;
    z-index: 3;
}

.img-container {
    display: flex;
    width: 90px;
    align-items: center;
}
.img-container img {
    border-radius: 10px;
}

.body-container {
    display: flex;
    width: 100vh;
    height: 400px;
}

.medical-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medical-name {
    font-size: 10px;
    font-weight: 500;
}

.medical-specialization {
    font-size: 9px;
    font-weight: 500;
}

.medical-code {
    font-size: 9px;
    font-weight: 500;
}

@media(min-width: 992px) {
    .card {
        width: 200px;
        height: 260px;
        border-radius: 27px;
        gap: 15px;
    }

    .img-container {
        width: 170px;
    }

    .medical-name {
        font-size: 17px;
    }

    .medical-specialization {
        font-size: 15px;
    }

    .medical-code {
        font-size: 13px;
    }
}